h1 {
    font-family: 'Asset', cursive;
    color:red;
}
div {
    color: yellow;
    font-family: 'Tangerine', cursive;
    font-family: 'Tangerine', cursive;
    
}

Body {
    background-color: black;
    text-align: center;
}